﻿<%@ Page Language="C#" Inherits="FoodAnalyzer.Default" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>Default</title>
</head>
<body>
	<form id="form1" runat="server">
         <asp:Button ID="readButton" runat="server" Text="Read!" OnClick="readButtonClicked" />
            <br />
		    <asp:Label id="resultLabel" runat="server" Text="Last Food: " />
            <br />
            <br />
		    <asp:Label id="errorText" runat="server" Text="no error" />
	</form>
</body>
</html>

